In [1]:
### Create code to perform DBT tests on sandbox table

In [2]:
###### BASE

In [3]:
import os
from sqlalchemy import create_engine
import pandas as pd

In [4]:
# Settings of Snowflake account
ONELOGIN_USER = "marie-camille.vergez.ext@qonto.com"
SNOWFLAKE_ACCOUNT = "qonto.eu-central-1"
SNOWFLAKE_DATABASE = "RAW"
SNOWFLAKE_SCHEMA = "API"
SNOWFLAKE_WAREHOUSE = "TEAM_DATA_BI_WH"
SNOWFLAKE_ROLE = "TEAM_DATA_BI"
url = f"snowflake://{ONELOGIN_USER}@{SNOWFLAKE_ACCOUNT}/{SNOWFLAKE_DATABASE}/{SNOWFLAKE_SCHEMA}?role={SNOWFLAKE_ROLE}&warehouse={SNOWFLAKE_WAREHOUSE}"

# Functions to extract the data
def get_connection():
    engine = create_engine(
        url, connect_args={'authenticator': 'externalbrowser'}, echo=False)
    return engine.connect()

def execute_query(query):
    con = get_connection()
    tables_result = con.execute(query).fetchall()
    columns = con.execute(query).keys()
    con.close()
    df = pd.DataFrame(tables_result, columns=columns)
    return df

In [5]:
##### SET TABLE List to query ---- to change with a import csv

In [6]:
my_tables = pd.read_csv("MR_Excel_Python - bug1.csv")

In [7]:
table_list = my_tables['sandbox_name'].tolist()

In [8]:
dbt_tests_results = my_tables[['KPI_ID_with0', 'KPI_SHORT_NAME', 'sandbox_name']]

In [9]:
# Set the dataframe of results
#d = {'table': table_list}
#dbt_tests_results = pd.DataFrame(data=d)

In [10]:
#### Define the unique key of your tables

In [11]:
unicity_key = 'kpi_date, periodicity, legal_country, legal_entity, price_plan_subgroup, company_onboarding_type, subscription_billing_cycle, company_size_segment, acquisition_channel_level_1, acquisition_channel_level_2'

In [12]:
#### RUN SQL test

In [13]:
#### unicity
dbt_tests_results["nb_row_unicity_test"]='NULL'
for i in range(len(table_list)):
    try:
        query_unique = f"""
        select
        concat( {unicity_key} ) as key
        , count(key) as test

        from {table_list[i]}
        group by all
        having test != 1
        """
        df=execute_query(query_unique)
        result = df.size
        dbt_tests_results["nb_row_unicity_test"][i]=result
    except:
        pass

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...
Going to open: https://qonto.onelogin.com/trust/saml2/http-redirect/sso/be5c810c-f64e-4bce-b133-7e1fdacd9a5b?SAMLRequest=lVNdj9owEPwrkfuc2A7QHhZwSoPQIXFA%2BaiqvjnOAobEBtshR399HT6k68Od1DdrPeOZ3Vn3nt%2FKIjiDsVKrPqIRQQEooXOptn20Xo3CJxRYx1XOC62gjy5g0fOgZ3lZHFlSuZ1awKkC6wL%2FkLKsueijyiimuZWWKV6CZU6wZfI6YXFEGLcWjPNy6E7JrfRaO%2BeODOO6rqO6FWmzxTEhBJMu9qgG8gW9kzh%2BrnE02mmhiwflzff0gQTFpN1IeIRXmN%2BJ36W6jeAzlewGsuxltZqH89lyhYLk0V2qla1KMEswZylgvZjcDFjv4MdsuppFUIUClDO8CGlkla43BT%2BA0OWxcv7ZyJ%2FwBnJc6K30wxoP%2B%2Bh4kHm5%2BzU5pK%2FtyfTPRb6QbLNvnxYkHTki9nqfZOtOuj0n%2ByQ1VqDg5yPauIl2bG0FY9UE6nyJxK2Q0jDurmjMaIvRdhTH5DcKhj5Qqbi7Mh%2BuT1o5HfktuBq62nOmsg43gcS4gYUGcmlA%2BJrVOIOOeKJEhJuvbQjbmYAwo61W%2BA3oJuci7%2FJOhm67xK7OzOC%2FJ9TD7%2Bn3vZz6qMbDuS6kuAQjbUruPk6SRvRakXm4uUIZlFwWSZ4bsNYnWhS6Tg1w59ffNwwID26q%2F36AwV8%3D&RelayState=56387 to authenticate...

/var/folders/h6/8dpsrxl10lq7rtqbdzym8bj40000gn/T/ipykernel_61560/1048295924.py:18: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  tables_result = con.execute(query).fetchall()

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...
Going to open: https://qonto.onelogin.com/trust/saml2/http-redirect/sso/be5c810c-f64e-4bce-b133-7e1fdacd9a5b?SAMLRequest=lZNdb9owFIb%2FSuRdJ44ToGAVKgZDQ6V8lDBtuzPOASwcm9oOKf%2B%2BTihSd9FKu4tOnuM8x%2B%2FJ%2FcNrIYMzGCu06iMSxSgAxXUu1L6PNtkk7KLAOqZyJrWCPrqARQ%2BDe8sKeaLD0h3UM7yUYF3gD1KWNi%2F6qDSKamaFpYoVYKnjdD18mtEkiunJaKe5luhDy9cdzFowzhveWnIrvN7BuRPFuKqqqEojbfY4ieMYxz3sqRr5duNf%2FUyf8ATHrZr3hMeX727fhbpewVda2ytk6c8sW4bLxTpDwfCmOtLKlgWYNZiz4LB5nl0FrDdYLebZIoIy5KCcYTIkkVW62kl2BK6LU%2Bn8sZF%2FwjvIsdR74SefjvvodBR5b906P8kfq43qsv3i9%2BOifb7Mkj%2Bjx8NQTtg8Y6uNkOlxxviRo%2BDXLdqkjnZqbQlTVQfqfClO0pCQMOllJKEkpeQu6nSSvygY%2B0CFYq7pvFm%2FaOV05LegEWr0nCmtw3WACa6x0EAuDHBfsxpvoc27JObhrtOCsLXlEG5JmoZ3QHY543mPtbfouku0MTOD%2F76he%2Fyx%2FX0v5z6q6XippeCXYKJNwdznSZKINBWRh7sGpVAwIYd5bsBan6iUuhoZYM6vvx8YEB5cv%2FrvDzB4Aw%3D%3D&RelayState=56412 to authenticate...
Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...
Going to open: https://qonto.onelogin.com/trust/saml2/http-redirect/sso/be5c810c-f64e-4bce-b133-7e1fdacd9a5b?SAMLRequest=lVNdT9swFP0rkfec2E7CRq22KKPAqhXa0TAJ3hzntrWa2MF2GrpfP6cfEnsAaW%2FW9Tk%2B595zPbx6q6tgB8ZKrUaIRgQFoIQupVqP0FN%2BG16iwDquSl5pBSO0B4uuxkPL66phWes26hFeW7Au8A8py%2FqLEWqNYppbaZniNVjmBFtm9zMWR4Rxa8E4L4dOlNJKr7VxrmEYd10XdUmkzRrHhBBMBtijesgX9E6i%2BVyjMdppoasz5c339IEExSTtJTzCKyxOxO9SHUfwmUpxBFn2I88X4WK%2BzFGQnbu71sq2NZglmJ0U8PQ4Oxqw3sGv%2BUM%2Bj6ANBShneBXSyCrdrSq%2BBaHrpnX%2B2cif8ApKXOm19MOaTkao2coyFcsiv1nc08I1lPzZ31XTTiddvcu2z2m2%2B7kt6tkNuXvevBCBgt%2FnaOM%2B2qm1LUxVH6jzJRInIaVhPMhpzGjCYhKlyeULCiY%2BUKm4OzDPrl%2B1cjryW3AwdLDnTGsd7gOJcQ8LDZTSgPA1q3EBF%2BKSEhGuvqYQpoWAsKBJEn4Duiq5KAf8okDHXWIHZ2b83xMa4vf0014%2B%2BKimk4WupNgHt9rU3H2cJI3ooSLLcHWAMqi5rLKyNGCtT7SqdHdtgDu%2F%2Fr5hQHh8VP33A4z%2FAg%3D%3D&RelayState=56434 to authenticate...
Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...
Going to open: https://qonto.onelogin.com/trust/saml2/http-redirect/sso/be5c810c-f64e-4bce-b133-7e1fdacd9a5b?SAMLRequest=lZNRb9owEMe%2FSuQ9J44T6IoFVAxWla4rDNKt25txDmrVsanPIfDtZ0KRuodW2lt0%2BZ3zO%2F8v%2Fat9paMdOFTWDAhLUhKBkbZUZjMgD8V1fEki9MKUQlsDA3IAJFfDPopKb%2Fmo9k9mAS81oI%2FCQQZ5%2B2JAame4FaiQG1EBci%2F5cvT9jmdJyrfOeiutJm9aPu4QiOB8MDy3lKiC3pP3W05p0zRJkyfWbWiWpilNezRQR%2BTTmd%2BHmd7hGU07Rz4QAZ%2B%2Fun1R5nQFH2mtThDym6KYx%2FPZsiDR6Kw6tgbrCtwS3E5JeFjcnQQwGPyY3RezBOpYgvFO6JglaGyz1uIZpK22tQ%2FHJuGJrqGk2m5UmHw6GZDtsyoLDY%2B3%2B4WbiG%2B%2F8OZWY4rdrN50x8vlbny7bTQ7fH00vZk%2F%2FJYk%2BnmONjtGO0WsYWqOgfpQSrM8ZizOegXLOMt5licXjP0h0SQEqozwbefZ%2BsUab5OwBa1Qq%2BddjZ4eA8zoEYsdlMqBDDW0dAVdeclSGa8vOhB3VhLiFcvz%2BDOwdSlk2RPdFTntEm%2FN3PC%2Fb6hP37a%2F7uV9iGo6mVut5CG6tq4S%2Fv0kWcLaiirjdYtyqITSo7J0gBgS1do2YwfCh%2FUPAwOhw9NX%2F%2F0Bhn8B&RelayState=56458 to authenticate...

In [14]:
dbt_tests_results

,KPI_ID_with0,KPI_SHORT_NAME,sandbox_name,nb_row_unicity_test
0,pre_compute_054,contacts,sandbox.marie_camille_vergez.analytics__dashbo...,0
1,054,contacts,sandbox.marie_camille_vergez.analytics__dashbo...,0
2,pre_compute_128,transactions_paying_clients,sandbox.marie_camille_vergez.analytics__dashbo...,0
3,128,transactions_paying_clients,sandbox.marie_camille_vergez.analytics__dashbo...,0

In [15]:
# dbt_tests_results.to_csv('MR_remove_company_size_unicity_results.csv', index=False)

In [16]:
# Non null des colonnes demandées
# MINUS ? Trop différent pour le faire de manière générique

In [17]:
# A rajouter - same value at the end